body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card {
  width: 400px;
}

.clock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0.375rem;
  width: 100%;
  font-size: 5vw;
  font-weight: bold;
  width: 90%;
  font-size-adjust:inherit;
}

.clock.over {
  color: rgb(228, 100, 100);
}

.clockPart {
  width: 1;
  font-size-adjust: true;
}

.clockSpacer {
  margin-left: 30px;
  margin-right: 30px;
}

.card-img-top {
  width: 100%; height: 300px; object-fit: contain;
}

.admin-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin-header {
  position: fixed;
  top: 5%;
}

.updated-time-btn {
  background-color: #88E788;
}

.edit-btn {
  font-size: 16px;
  margin-top: "auto"
}

.edit-btn.err {
  background-color: rgb(228, 100, 100);
}

.edit-btn.good {
  background-color: #88E788;
}



.offcanvas {

}
